.square{
position: absolute;
width: 300px;
height: 300px;
left: 37px;
top: 150px;
background-color: antiquewhite;
border-radius: 12px;
background-image: url("https://media.discordapp.net/attachments/767045716420853772/768334564275781632/chicken.png");
}