.back{
    display: flex;
    flex-direction: row;
    margin-left: 95px;
  
  }

  .back i {
    height: fit-content;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 3px;  
  }
  .back h1{
    margin: 0 !important;
  }

  h1{
    margin-left: 95px;
    font-family: 'Montserrat', sans-serif;
  }

  