
.logoimg{
    width: 90px;
    height: 90px;
    margin: auto;

}

.input{
    width: 135px;
    margin: auto;
    margin-top: 34px;
}

.container-fluid{
    padding: 0 !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}