.title {
    position : absolute;
    width: 370px;
    height: 115px;
    font-family: Roboto Condensed;
    font-size: 140px;
  }
  .subtitle {
    position : absolute;
    font-family: Roboto Condensed;
    font-size: 90px;
  }
  .garis {
    width: 1349px;
    height: 0px;
    position: absolute;
    border: 2px solid #000000;
  }
  h2{
    margin-top: 25px;
    width: 157px;
    margin: auto;
    font-family: Roboto Condensed;
    font-size: 36px;
    color: black;
  }       
  .container-fluid{
    padding: 0 !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
        
  .container-menu{
    border-radius: 10px;
    width: 380px;
    height : 510px;
    margin: 0 0 0 0;
    margin-top : 50px;
    margin-left : 50px;
    position : relative;
    display: block;
    background-color: #ff692e;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .container-menu2{
      border-radius: 10px;
      width: 380px;
    height : 510px;
    margin: 0 0 0 0;
    margin-top : 50px;
    margin-left : 20px;
    display: block;
    background-color:orange;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
            
  .container-menu3{
    border-radius: 10px;
    width: 380px;
    height : 510px;
    margin: 0 0 0 0;
    margin-top : 50px;
    margin-left : 0px;
    display: block;
    background-color:#ff692e;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

  .bg-image {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 960px; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.gambar{
 zoom : 40%;
 margin-top: 100px; 
 position: absolute;
margin-left: 180px;
}
.gambar2{
  zoom : 40%;
  margin-top: 100px; 
  position: absolute;
 margin-left: 50px;
 }

.container-menu:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid yellow;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container-menu2:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container-menu3:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid yellow;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}