.minuman{
width: 300px;
height: 330px;
background-color:orange;
border: solid #ff692e;
border-radius: 12px;
margin-left: auto;
margin-left: 115px;
margin-top: 40px;
margin-bottom: 0px;
padding-left: 35px;
padding-right: 35px;
padding-top: 20px;
transition: transform .2s;
}

.minuman:hover {
    transform: scale(1.050); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.square{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

h1{
    margin-left: 95px;
    font-family: 'Montserrat', sans-serif;
}
.product-title{
    font-weight: 700;
    text-align: center;
    padding: 0;
    font-size: 2rem;
    color: black;
    font-family: 'Roboto', sans-serif;

}
.img-fluid{
    margin: auto;
    display: block;
    max-width: 100%; 
    height: auto;
}
.btn.btn-primary {
    font-size: 10px;
    text-align: center;
    align-content: center;
    border-radius: 2em;
    border: 0 !important;
    color: #000 !important;
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
    display:block;
    margin: auto;
}
.back{
    display: flex;
    flex-direction: row;
    margin-left: 95px;

}
.back i {
    height: fit-content;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 3px;  
}

.back h1{
    margin: 0 !important;
}

